<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
</head>
<body>
	<h1>Welcome admin!</h1>
	<a href="/user/adduser">Add user</a> | 
	<a href="/user/userList">UserList</a> | 
	<a href="/logout">logout</a>

</body>
</html>