<!DOCTYPE html>
<html>
    <title>
        Registration
    </title>
    <body>
        <h3>Registration as </h3>
        <ul>
            <li><a href="register/student">Student</a></li>
            <li><a href="register/university">University Authority</a></li>
            <li><a href="register/organization">Organization</a></li>
        </ul>
    </body>
</html>