<!DOCTYPE html>
<html>
<head>
	<title>Account page</title>
	
</head>
<body>

<fieldset>
	<legend>Create Account</legend>
	<form method="post" >
    <center>	
	<table>
		<tr>
			<td>Organization Name:</td>
			<td><input type="text" name="Organizationname"></td>
		</tr>
		<tr>
			<td>Organization Code:</td>
			<td><input type="text" name="Organizationcode"></td>
		</tr>		
		<tr>
			<td>Address:</td>
			<td><input type="text" name="Organizationaddress"></td>
			</tr>
		<tr>
			<td>Email Address:</td>
			<td><input type="text" name="Emailaddress"></td>
		</tr>
		<tr>
			<td>Contact:</td>
			<td><input type="text" name="Organizationcontact"></td>
		</tr>			
		
		<tr>
			<td>Username:</td>
			<td><input type="text" name="username"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="password"></td>
		</tr>
		   
				<tr>
					<td colspan="2">
						<center>
								<input type="submit" name="submit" value="Create Account">
						</center>
					</td>
				</tr> 
				<tr>
						<td colspan="2">
							<center>
								<a href="/">Al ready have an account</a> 
							</center>
						</td>
					</tr> 
		   
		
	</table>
	</form>
</center>	
</fieldset>
</body>
</html>