<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1>Welcome Home!</h1>
	<a href="/organization/profile">Profile</a> | 
	<a href="/organization/userList">UserList</a> | 
	<a href="/organization/offer">Offer</a>|
	
	
	<a href="/logout">Logout</a>

</body>
</html>