<!DOCTYPE html>
<html>
<head>
	<title>User page</title>
</head>
<body>
    <h1> Approved Page !</h1>
    <a href="/organization">Back</a>|
	<a href="/organization/application">Student Application</a> | 
	<a href="/organization/approvestudent">Approve Student</a> | 
	<a href="/organization/university">University</a>|
	
	
	<a href="/logout">Logout</a>

</body>
</html>