<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
</head>
<body>
    <center>
        <table>
            <tr>
                <td>Name:</td>
                <td> <%= name %> </td>
            </tr>
        </table>
    </center>
</body>
</html>